.watc-container {
    
}
#watc-panel {
    position: fixed;
    bottom: 15px;
    left: 15px;
    border: solid 1px burlywood;
    background: whitesmoke;
    padding: 10px;
}
.watc-activator {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 15px;
    display: inline-block;
    opacity: .8;
    text-decoration: none;
    background-color: gray;
    color: white;
}


.properties {
    padding: 0 0 0 15px;
}

.property:not(:last-child)::after,
span.comma:not(:last-child)::after  {
    content: ", ";
}

#watc-panel li {
    list-style-type: none;
    
}

#watc-panel ul {
    margin: 0;
}